[2015-10-18 12:12] kinhunt opened #1 "How to reference plugins"
Very interesting project. Tried your example, it works fine. But how can I reference third party cordova plugins. Such as :

https://github.com/parsonsmatt/WifiWizard

tried:
cordova.cordova.plugins.WifiWizard
cordova.plugins.WifiWizard
cordova.WifiWizard
cordova.navigator.WifiWizard

all undefined

[2015-10-18 12:17] kinhunt commented on #1
it's cordova.window.WifiWizard

[2015-10-18 12:17] #1 closed, assigned to nobody

[2015-10-18 12:22] kinhunt opened #2 "cordova.exec is not a function"
Trying with https://github.com/parsonsmatt/WifiWizard

[code]

gives me this error:
cordova.exec is not a function

[2015-10-18 15:30] axemclion commented on #1
That is correct, it basically looks at the plugin.xml for Clobbers/Merges. In Cordova, all those variables are available on window object due to [this line](https://github.com/apache/cordova-js/blob/064b25a40aab8fc2f210fdbb394d63c31e7d3e6d/src/common/init.js#L128). In react's case, there is no window, so I simply reuse the `cordova` object  to expose the APIs.

[2015-10-19 01:53] kinhunt commented on #2
Problem doesn't seem to be solved. Error exists

[2015-10-19 02:24] axemclion commented on #2
@kinhunt What is the error that you see now ? Note that the adapter does not yet work with events and channels.

[2015-10-19 02:30] kinhunt commented on #2
[code]

[2015-10-19 04:21] axemclion commented on #2
You may have to remove and re-add the plugin. The best way to check if it works it to look for a `cordova.exec=` line in the file generated at **projectRoot\node_modules\react-native-plugin-adapter\platforms\android\cordova.js**

[2015-10-19 05:28] kinhunt commented on #2
@axemclion thanks.

I removed the module and reinstall it with the latest version.

It gives me 'cordova.init is not a function' err. Also, there is only one AndroidManifest.xml file under  projectRoot\node_modules\react-native-cordova-plugin\platforms\android

No other files generated

update: tried with a new project, same result

[2015-10-19 07:06] kaicherry commented on #2
I can confirm what @kinhunt is saying...simply adding
var cordova = require('react-native-cordova-plugin');

to the default hello world after getting everything installed and built throws this error.

[2015-10-19 14:28] axemclion commented on #2
Here is how the adapter works. When it is installed as a **node_modules** it only has a **projectRoot\node_modules\react-native-cordova-plugin\platforms\android\AndroidManifest.xml** file. This is the case when no plugin is added. This file exists so that the reactNative app compiles.

Now when you add a plugin, the platforms folder has multiple files generated. What happens here is that the plugi

[2015-10-20 08:56] kinhunt commented on #2
@axemclion thx
installing new plugin fixes the problem.
I also tried to delete cordova.js and use 'cordova-plugin repair' to generate a new one. it works.
wonderful

[2015-10-20 08:56] #2 closed, assigned to nobody

[2015-10-20 12:37] pagrawl3 opened #3 "Cordova View ?"
Hello, I am kinda new to this, so pardon if this is a redundant question. Is there a way to embed a cordova view as a subview inside react-native ? Let's say a video player or the webview itself.

Any help would be appreciated !

[2015-10-20 14:33] axemclion commented on #3
Give that a ReactNative app is still a native app, you should be able to use Cordova Embedded Views to accomplish this.

[2015-10-20 14:33] #3 closed, assigned to nobody

[2015-10-20 14:34] axemclion commented on #2
Awesome !! Now that the code fixes this problem, do you think new users will continue hitting this issue ? Also, I would love to see your index.android.js with the wifi plugin working !!

[2015-10-21 02:21] kinhunt commented on #2
@axemclion I do think some new users will hit this issue. I didn't do much with the wifi plugin yet. Followed your example and see if it is working or not.

[code]

and it woks. yeah~

[2015-10-23 13:20] FSpierckel opened #4 "Undefined is not an object"
Hello,

first thank you for your job, it's amazing to use cordova plugin directly in React !

I followed your tutorial and I'm able to use the barcodescanner.

But now, I'm trying to use de sqlite plugin : https://github.com/litehelpers/Cordova-sqlite-storage

I added the plugin but when I try to use it I have this error : undefined is not an objet (evaluating 'cordova.window.sqlitePlugin').

This

[2015-10-23 15:26] axemclion commented on #4
Note that this should not be `cordova.window.sqlitePlugin`. From the plugin, looks like the object is used as `sqlitePlugin.openDatabase` - meaning that the object is exposed on  `window` object in Cordova. Hence, while using it in reactNative, it will be available as `cordova.sqlitePlugin.openDatabase`.

[2015-10-23 15:31] FSpierckel commented on #4
I tried it but still getting the same error..  "undefined is not an object (evalutating cordova.sqlitePlugin.openDatabase)"

[2015-10-23 16:07] axemclion commented on #4
Looks like the case is incorrect - it seems to be called `SQLitePlugin`, so it would be used as `cordova.SQLitePlugin`

[2015-10-23 18:02] Spierki commented on #4
I saw that it's write like that in the plugin file too so I tried it but it gives me the same error.
Is it working for you ?
"undefined is not an object (evalutating cordova.SQLitePlugin.openDatabase)"

I also tried to remove/import again the plugin

[2015-10-23 18:13] FSpierckel commented on #4
I saw that it's write like that in the plugin file too so I tried it and It's a little bit better, now in the error message I can find the parameter that I passed on the function call : "undefined is not an object (evalutating cordova.SQLitePlugin.openDatabase({name:"my.db",location:1})"

I also tried to call another function but I'm get the same kind of message

[2015-10-23 18:17] axemclion commented on #4
Do you have a sample app that I could try ?

[2015-10-23 19:54] FSpierckel commented on #4
I just wrote a very little example. https://github.com/Spierki/ReactNative-SQlite-Example

[2015-10-29 14:39] maxim-c opened #5 "support for npm 3"
not wokring with npm 3.

[2015-10-30 04:06] axemclion commented on #5
Is this extension itself an issue, or is the issue with individual plugins ? Can you help me understand the issue ?

[2015-10-30 08:32] maxim-c commented on #5
this is with extension itself. There a   70+ errors (some of them “java: package org.apache.cordova does not exist”) . I suppose it just cant find dependencies, because looking in ./react-native-cordova-plugin/node_modules/, but actually in npm 3 they installed in  project's node_modules

[2015-10-30 21:49] axemclion commented on #5
Just ran it with npm3, and I see the errors. Cordova is working on updating to using Node 5, and as soon as that happens, I will update this plugin to start using the new model.

[2015-11-11 10:42] Sharathnasa opened #6 "Requiring unknown module "rncp". If you are sure the module is there , try restarting the packager."
Hello Parashuram,

Thanks a lot for letting me know on how to use the cordova plugin in react-native. You saved my day. I have followed your blog to add the plugin and just to test whether i have properly done the setup, i have used your sample Index.android.js file. But when i run the app, its showing the above error(Which i have mentioned in the title).

Could you please help me in this..

Regar

[2015-11-12 19:11] nikkool commented on #4
I can't seem to figure out how to pass a function call. I've been trying to use the camera plugin and tried many ways, 4 of which are as follows.

[code]

Can you point out what I'm doing wrong?

further I've defined itWorked and itFailed as functions, but they don't seem to get called:

[code]

[2015-11-12 21:20] maxim-c commented on #6
@Sharathnasa
change "rncp" to "react-native-cordova-plugin" in index.android.js file.

[2015-11-12 21:46] axemclion commented on #6
Thanks @Deadlysmile - closing this as this is not an issue any more.

[2015-11-12 21:46] #6 closed, assigned to nobody

[2015-11-12 21:48] axemclion commented on #4
@nikkool
Do you have your full snippet that I can take a look at ? Also, i think it may make sense to open new bug for this.

[2015-11-13 04:46] nikkool opened #7 "How to use with callback functions"
Opening a new issue as suggested:
Below is my code. The problem I'm facing is how to pass a callback function as an argument so I can get the data (or error). Admittedly I am fairly new to react, but between your example code, the facebook docs on NativeModules/Callback, I still seem to be missing something. Would really appreciate any help.

[code]

[2015-11-13 06:10] #5 closed, assigned to nobody

[2015-11-13 08:48] FSpierckel commented on #4
@axemclion did you tried my code ?

[2015-11-13 09:16] Sharathnasa commented on #6
I have tired even that before raising this as the issue. still displayed the same. Should i need to add package and module(Like how we add while writing the plugin for react-native to javascript).

Any help will be appreciated. Because this didn't worked for me, i'm writing the plugin in React-Native to fetch the list of installed application with package name along with the image(which gets store

[2015-11-13 16:18] axemclion commented on #6
Can you add the code from indexo.android.js ?

[2015-11-13 20:29] Sharathnasa commented on #6
Thanks for replying axemclion. Sure i will paste below. Also i will attaching my project, just for reference(This project doesn't contain any complicated things. Only i have follwed your blog and added device info plugin.) link for the project - https://drive.google.com/file/d/0B3JBaN1pWSAPdk0zeXBQX1lxSDQ/view?usp=sharing

Also below error was logging inside logcat.

error:
1. 'Error: Requiring un

[2015-11-14 22:20] axemclion commented on #4
@Spierki I looked at your code and figured out what the issue is. Note that I am using the latest version of the sqlite plugin, and react-native-cordova-plugin@0.0.7

This issue is that the SQlitePlugin does not export [the object](https://github.com/litehelpers/Cordova-sqlite-storage/blob/96915dfa1ba323b6bbcf117416f42a706d71fb60/www/SQLitePlugin.js#L566). It simply assigns it to `this` in [this l

[2015-11-14 22:27] axemclion commented on #4
I plan to close this issue in a couple of days. If you are not able to get it working, please respond to this thread, and we can look to see if there are other issues.

[2015-11-15 00:10] brody2consult opened #8 "License should be more explicit"
I noticed you chose the "ISC" license in package.json and like the choice due to its simplicity and permissiveness. It would be nice to see it more explicit in README.md and/or LICENSE file.

Thanks for making this project, I am sure it will help many!

[2015-11-15 18:42] #8 closed, assigned to nobody

[2015-11-17 00:13] brody2consult commented on #4
For sqlite, I recommend that you use https://github.com/andpor/react-native-sqlite-storage. I cannot promise when litehelpers/Cordova-sqlite-storage#382 will be fixed. @axemclion I recommend that you close this since the functionality is already supported by [andpor / react-native-sqlite-storage](https://github.com/andpor/react-native-sqlite-storage).

[2015-11-17 00:23] axemclion commented on #4
@brodybits Sounds good - thanks. Closing this issue.

[2015-11-17 00:23] #4 closed, assigned to nobody

[2015-11-17 08:08] FSpierckel commented on #4
@axemclion I tried what you said and it's working thank you ! @brodybits The plugin you said looks like to be functionnal, thanks too.

[2015-11-18 06:41] skyride99 opened #9 "require('react-native-cordova-plugin') returns undefined"
Went through the steps

Project is at https://github.com/skyride99/z3

Thanks for the Cordova this is a great idea!

using the cordova-plugin-eddystone

[2015-11-18 06:50] skyride99 commented on #9
I am using node 4.0.0
 and npm 2.14.2./ and npm 3.3.6
this is on El Captian

[2015-11-18 23:10] roysG commented on #7
any response?

[2015-11-18 23:11] roysG commented on #9
is this solved?

[2015-11-18 23:21] axemclion commented on #9
@roysG I am looking into this right now.

[2015-11-18 23:22] roysG commented on #9
+1

[2015-11-18 23:23] roysG commented on #9
When ios also be valid for using ?

[2015-11-22 11:31] bramstieperaere commented on #7
I have the same problem. The success or fail callback functions are not being called

[code]

[2015-11-23 11:26] bramstieperaere commented on #7
@axemclion @nikkool

I investigated this and found some odd behavior in CordovaPluginAdapter.js
- when the camera plugin is invoked, even before the picture is taken, it immediately sends a message with status 0 and message 'no result'. The callback handler is deleted and when we return from taking the picture the the callback handler is no longer in the map, so we receive no callbacks.

you can v

[2015-12-07 11:18] ghost commented on #3
By Using Cordova Embedded Views do you mean writing a bridge for the embeddable webviews specific to the platform or there something simpler I'm missing?

[2015-12-07 18:27] axemclion commented on #3
@karannakai Technically, Cordova Embedded WebView should already have all the infrastructure for the bridge, as I saw here - https://github.com/infil00p/CordovaComponentCase

By using that, you will already have access to the bridge, right ?

[2015-12-09 06:34] axemclion commented on #9
@roysG I am not an iOS expert, so would appretiate any help in that aspect.

[2015-12-16 00:47] JonnyBGod opened #10 "Trying to implement without CordovaActivity"
I am trying to put this to work without extending CordovaActivity. I need to do this because I am using another library for which I need to extend FragmentActivity.

At the moment I am getting the following errors:

[code]

My code:

[code]

[2015-12-23 18:45] axemclion commented on #10
@JonnyBGod Looks like I need to make cordovaPluginAdapter public. Will change this and publish a new version.

[2015-12-23 22:22] #10 closed, assigned to nobody

[2015-12-23 22:23] axemclion commented on #10
@JonnyBGod Pushed the new 0.0.8 version to npm, so that this issue is fixed.

Btw, I am working on moving the entire toolchain to start using [rnpm](https://github.com/rnpm/rnpm) - that will make it much more clean, and all the manual steps will be removed

[2015-12-23 23:58] axemclion commented on #9
@skyride99 I looked into this and I was not able to repro this. Note that I had the `react-native-cordova-plugin` installed and as mentioned in this plugin's package.json, I am able to load the plugin-adapter.

I would need some more help from you to debug this issue. Can you confirm the following
- `node_modules/react-native-cordova-plugin` folder exists
- under the folder above, you are able to

[2015-12-24 01:54] axemclion commented on #7
@bramstieperaere I dug more in this, and looks like there is is a big processing that I am missing. From the Android side, we get a message like `"S11 CoreAndroid1470622326 {"action":"pause"}"`, which has the information about keeping hte callback alive, etc. I think for plugins like the camera, this information is required and I am not parsing that.

Will work on adding that logic.

[2015-12-24 02:25] #7 closed, assigned to nobody

[2015-12-24 02:26] axemclion commented on #7
@nikkool @bramstieperaere @roysG I have fixed this and uploaded a new version. Sorry for the delay in getting around to this.

The issue has auto-closed, but if this does not fix your issue, please do let me know and we could investigate further.

[2016-01-02 22:20] OmniaGM opened #11 "Cannot find plugin.xml for plugin 'package'"
I follow the instruction in this blog http://blog.nparashuram.com/2015/10/using-cordova-plugins-in-react-native.html and this is the result.

[code]

Any suggestions!

[2016-01-02 23:09] axemclion commented on #11
What command are you trying to run, and what is the plugin you are trying to add ?

[2016-01-03 13:47] OmniaGM commented on #11
this is the command

[code]

and I'm trying to add dialog plugin.

[2016-01-05 04:13] axemclion commented on #11
Did you mean to install `cordova-plugin-dialogs` ? Note the plural. The `cordova-plugin-dialog` seems to be an empty npm package pointing to a [repo](https://github.com/phi-jp/cordova-plugin-dialog), with just a README and a package.json.

[2016-01-15 16:20] matc4 opened #12 "exec() call to unknown plugin"
Hello,

First thank you for your job!

I am having problems to get the Camera plugin working.

I create an empty React App and follow the instructions.

But, when i try to open the Camera this message appears in js error callback:
"Class not found"

And this in the log:
"D/PluginManager(26940): exec() call to unknown plugin: Camera"

Do you have any idea what is missing?

Thanks!

[2016-01-15 16:28] axemclion commented on #12
@matiascba I did try it on the camera plugin and was able to get it working. What version of node are yo uusing ? Do you see a camera java class under node_modules/react-native-plugin-adapter/platforms/android ? If not, try deleting node_modules and add it again.

[2016-01-15 16:56] matc4 commented on #12
Thanks for your reply!.

This is my node version: v4.0.0

I dont have this folder (node_modules/react-native-plugin-adapter/platforms/android)

i have this (node_modules/react-native-cordova-plugin/platforms/android),
but whitout a Camera java class inside

The only Camera java classes are in
(node_modules/cordova-plugin-camera/src/android/CameraLauncher.java)

I try removing the node modules and

[2016-01-16 02:09] axemclion commented on #9
Ping @skyride99 Were you able to resolve this ?

[2016-01-16 02:09] axemclion commented on #11
@OmniaGM Was this resolved ?

[2016-01-16 02:12] skyride99 commented on #9
Yes with v16 of react native it works well. v14 and 14.3 not working.

[2016-01-16 03:05] axemclion commented on #9
Awesome thanks - closing the issue.

[2016-01-16 03:05] #9 closed, assigned to nobody

[2016-01-19 15:44] matc4 commented on #12
I try with the cordova-plugin-device plugin, and everything was OK.
But the Camera plugin still give me this message in log:
PluginManager(26940): exec() call to unknown plugin: Camera"

[2016-01-19 16:12] axemclion commented on #12
Can you share the list of files you have in your project (including the node_modules folder) ? That would help trying to debug the issue. Also, what version of reactnative are you using ?

[2016-01-19 20:37] matc4 commented on #12
This is the code:
https://github.com/matiascba/react-cordova-camera-test

The react native version is 0.17

[2016-01-25 21:18] ncnlinh commented on #10
@axemclion the fix did not help for me. I suppose the changes should be made in `CordovaPluginPackage` and `CordovaPluginAdapter`?

[2016-01-29 06:04] liiklin opened #14 "rn0.18.0"
How to use the rn0.18.0 version?

[2016-02-01 16:10] axemclion commented on #14
@liiklin I am looking to create this as an [rnpm](https://github.com/rnpm/rnpm) plugin so that it can be version agnostic.

[2016-02-02 12:14] liiklin commented on #14
thx

[2016-02-10 14:58] digitalhobo commented on #14
+1

[2016-02-15 21:11] gathm5 opened #15 "undefined is not an object (evaluating 'this.nativeInterface.exec')"
The "ReactNative.NativeModules.CordovaPluginAdapter" is returned as undefined in node_modules/react-native-cordova-plugin/lib/CordovaPluginAdapter.js

<img width="525" alt="screen shot 2016-02-15 at 1 06 23 pm" src="https://cloud.githubusercontent.com/assets/1642338/13060252/f621df68-d3e4-11e5-9030-4ae00c254fc9.png">

[2016-02-16 06:17] axemclion commented on #15
Can you give me a little more information here. What is the plugin you are trying to use ?

[2016-02-16 16:15] gathm5 commented on #15
I was trying to run the example code from your blog by installing all of the cordova plugins needed for it. The Device, Network Info, Contact, Camera plugin, etc. And all of the plugins were added successfully using the node node_modules/.bin/cordova-plugin add plugin command. Made changes in the gradle settings and mainactivity.java and build was successful as well. On runtime I get this error me

[2016-02-22 20:16] matc4 commented on #14
+1

[2016-02-29 06:25] kenchengch opened #16 "Support cordova-android 5.1.0+?"
Hi Axemclion. This is my first post. I tried to implement of my first React AwesomeProject https://github.com/kenchengch/AwesomeProject. But my App crached when save a new photo(I tried add android.permission.WRITE_EXTERNAL_STORAGE not help). I found that this issuse may be caused by my Android 5.x device (CM12). I found Android support plugin callback results (cordova-android 5.1.0+) may be solve

[2016-03-02 03:42] faceyspacey opened #17 "Video capture plugin??"
Android React Native doesn't have a video recording package yet. Has anyone been able to get video capture to work on android using this? I'd give it a try, but I've only done iOS React native work thus far.

Here's currently the only option for video recording on React Native iOS:

https://github.com/maxs15/react-native-screcorder

Here's the main video recording cordova plugin:

https://github.c

[2016-03-09 19:54] niftylettuce commented on #14
okay I figured out how to do it, will be submitting a PR shortly

[2016-03-09 19:55] axemclion commented on #14
@niftylettuce Awesome - thanks.

I think we should also look at Cordova 6.0 changes, when have the "permission" changes from Android M.

[2016-03-09 20:28] niftylettuce commented on #14
@axemclion I think I am encountering the Cordova 6.0 change issues now... I encounter this error when I try to add it via `node node_modules/.bin/cordova-plugin add cordova-plugin-bluetoothle` per https://github.com/randdusing/cordova-plugin-bluetoothle.

Regarding RN 0.18 instructions:

For RN >= 0.18:

[code]

For RN < 0.18:
- Make the class extend _io.cordova.reactnative.CordovaActivity_ instea

[2016-03-09 20:29] niftylettuce commented on #14
Sorry, the error I received is the following (I forgot to include in my previous comment):

[code]

Also, here's what I added to my `AndroidManifest.xml` file:

[code]

[2016-03-09 20:30] niftylettuce commented on #14
Sorry, the error I received is the following (I forgot to include in my previous comment):

[code]

Also, here's what I added to my `AndroidManifest.xml` file:

[code]

[2016-03-09 20:39] niftylettuce commented on #6
@axemclion The example gist you link from the Readme.md file still has `rncp` in it per https://gist.github.com/axemclion/b30bdfe991e509851705#file-index-android-js-L14

[2016-03-09 20:51] niftylettuce commented on #14
Perhaps the error is related to this http://stackoverflow.com/a/35128940.

[2016-03-09 21:20] niftylettuce commented on #14
Okay, for my error, looks like we need to change platformVersion to 5 instead of 4 per https://github.com/axemclion/react-native-cordova-plugin/blob/master/cli/android-cli.js#L52 and https://github.com/axemclion/react-native-cordova-plugin/blob/master/cli/android-cli.js#L65

[2016-03-09 21:44] niftylettuce commented on #16
This is related to #14, where I am attempting to get a package that requires v5.0.0+ of Android `platformVersion` working.  I think first, we need to update the dependencies in `package.json` for `cordova-lib` and `cordova-android` via `pnpm install --save cordova-lib@latest cordova-android@latest`, and then maybe see if there are more changes that need to be fixed?

[2016-03-09 21:44] axemclion commented on #14
@niftylettuce This error is due to Cordova 6, where plugins added a new API to check for permissions, something that AndroidM expected

[2016-03-09 21:45] niftylettuce commented on #14
@axemclion I'm confused - how do we fix?  What is the issue in code?

[2016-03-09 21:45] axemclion commented on #6
@niftylettuce I think that is a bug - probably should remove that.

[2016-03-09 21:53] axemclion commented on #14
@niftylettuce Will take a look at this during the weekend.

[2016-03-10 06:13] niftylettuce commented on #14
@axemclion Also I found this for reference, not sure if it helps https://github.com/facebook/react-native/issues/3334

[2016-03-10 07:16] niftylettuce commented on #14
Just wanted to give you an update @axemclion that I got it working with my latest work in progress pushed to my fork, if you wanted to take a look!! :+1:

[2016-03-10 08:52] kenchengch commented on #16
Hi niftylettuce,
My ResultInfo seems killed by android system lifecycle.
I think the axemclion/react-native-cordova-plugin should support cordova-android 5.1.0 new features as follows,

http://cordova.apache.org/docs/en/dev/guide/platforms/android/plugin.html

/**
- Called when the Activity is being destroyed (e.g. if a plugin calls out to an
- external Activity and the OS kills the CordovaActivit

[2016-03-10 16:34] niftylettuce opened #20 "Purpose of `window.cordova` and `window.React` in example?"
What is the purpose of these two lines? https://gist.github.com/axemclion/b30bdfe991e509851705#file-index-android-js-L15-L16

[2016-03-10 20:28] axemclion commented on #20
@niftylettuce They were just for testing. You should be able to ignore them.

[2016-03-10 20:28] #20 closed, assigned to nobody

[2016-04-05 23:28] axemclion commented on #16
@kenchengch @niftylettuce I have started working on this, here is the update https://github.com/axemclion/react-native-cordova-plugin/commit/76496c646881f0c875eb2129d8e463b6937cc9a8

I am not going to test it with a couple of plugins, and should publish a new version

[2016-04-05 23:30] axemclion commented on #14
Working on this right now - https://github.com/axemclion/react-native-cordova-plugin/commit/76496c646881f0c875eb2129d8e463b6937cc9a8

I am not going to test it with a couple of plugins, and should publish a new version

[2016-04-11 03:00] luandro opened #21 "Setting up MainActivity.java"
It seems the react-native's files have changed a bit. I've been trying to get this to work with a clean React-Native install, it all makes sense until I get to the setup for the MainActivity.java file.

This is what it looks like.

[code]

This is what I tried changing it to, based on what I understood from the README:

[code]

But I'm getting an error:

[code]

What am I doing wrong? Could the RE

[2016-04-11 04:56] axemclion commented on #21
@luandro I am working on this right now. You can look at the `examples` branch to see how it will work.
I have also updated the settings into the `dev` branch. I am in the middle of testing, will push out an update tomorrow.

Maybe a duplicate of https://github.com/axemclion/react-native-cordova-plugin/issues/14

[2016-04-11 11:16] luandro commented on #21
Awesome, thanks for the hard work. I'll close since it's a duplicate.

[2016-04-11 11:16] #21 closed, assigned to nobody

[2016-04-11 14:36] axemclion commented on #21
:+1:

[2016-04-14 21:27] axemclion commented on #16
@kenchengch @niftylettuce I just published 1.0.0 version of this plugin on npm. I also now have an [example app](https://github.com/axemclion/react-native-cordova-plugin/tree/examples) that shows how to use the plugins.

Closing the issue - if you still find this to be an issue, please re-open it.

[2016-04-14 21:27] #16 closed, assigned to nobody

[2016-04-14 21:27] axemclion commented on #14
@liiklin  I just published 1.0.0 version of this plugin on npm. I also now have an [example app](https://github.com/axemclion/react-native-cordova-plugin/tree/examples) that shows how to use the plugins.

Closing the issue - if you still find this to be an issue, please re-open it.

[2016-04-14 21:27] #14 closed, assigned to nobody

[2016-04-14 21:27] axemclion commented on #12
@matiascba  I just published 1.0.0 version of this plugin on npm. I also now have an [example app](https://github.com/axemclion/react-native-cordova-plugin/tree/examples) that shows how to use the plugins. It also had a working example of camera

Closing the issue - if you still find this to be an issue, please re-open it.

[2016-04-14 21:27] #12 closed, assigned to nobody

[2016-04-14 21:27] axemclion commented on #11
@OmniaGM  I just published 1.0.0 version of this plugin on npm. I also now have an [example app](https://github.com/axemclion/react-native-cordova-plugin/tree/examples) that shows how to use the plugins.

Closing the issue - if you still find this to be an issue, please re-open it.

[2016-04-14 21:27] #11 closed, assigned to nobody

[2016-04-14 21:29] axemclion commented on #21
@luandro Just published 1.0.0 with more examples and documentation

[2016-04-14 21:30] axemclion commented on #10
@ncnlinh I just published 1.0.0 version of this plugin on npm. I also now have an [example app](https://github.com/axemclion/react-native-cordova-plugin/tree/examples) that shows how to use the plugins.

[2016-04-14 21:31] axemclion commented on #17
@faceyspacey I just published 1.0.0 version of this plugin on npm. I also now have an [example app](https://github.com/axemclion/react-native-cordova-plugin/tree/examples) that shows how to use the plugins. While I don't have an example of the camera plugin yet, it should work.

[2016-04-14 21:32] axemclion commented on #15
@gautham1985 You should check out the [example app](https://github.com/axemclion/react-native-cordova-plugin/tree/examples) that shows how to use the plugins.
Closing the issue - if you still find this to be an issue, please re-open it.

[2016-04-14 21:32] #15 closed, assigned to nobody

[2016-04-15 00:21] faceyspacey commented on #17
cool, i'll check it out soon. Finishing up an iOS app that I'll need to make an Android version for, which will require the cordova video capture plugin.

[2016-04-15 05:48] axemclion commented on #17
@faceyspacey I just [added](https://github.com/axemclion/react-native-cordova-plugin/commit/efe79e588d7ecae600abf32c4fceb8240b7fc111) the `cordova-plugin-media-capture` in the example app and I do see Audio and Video capture working.

Closing this issue, since it is working. Please do re-open if you run into issues.
You could also check out the working example app on appetize.io -  https://appetiz

[2016-04-15 05:48] #17 closed, assigned to nobody

[2016-04-16 15:11] liiklin commented on #14
@axemclion ok,thank you.

[2016-04-16 17:27] liiklin opened #22 "no command "react-native-cordova-plugin" in windows."
Hi,my os is windows,it seems no react-native-cordova-plugin in the path。
Hope to get your help。

[2016-04-16 17:47] axemclion commented on #22
@liiklin Can you try running `node node_modules/react-native-cordova-plugin/cli/cli.js add cordova-plugin-camera` instead ?

[2016-04-17 04:52] liiklin commented on #22
@axemclion is works.

[2016-04-17 15:10] #22 closed, assigned to nobody

[2016-04-18 13:30] luandro commented on #21
Awesome, thank you. I'll check it out once I have some time. Cheers!

[2016-04-19 14:20] kl2karpenko opened #23 "Support for IOS"
Please can you tell me are you going to support IOS in the nearest time? Need it very much!)

[2016-04-19 15:06] axemclion commented on #23
@kl2karpenko I am not an iOS developer, so this would be hard. I am hoping that someone in the community who knows ObjectiveC helps with it. ...

[2016-04-26 13:52] MichelKansou opened #24 "Requiring unknown module "RCTDeviceEventEmitter""
Hi,
Im using react native v0.24.1, I have problem with cordova-plugin Im getting this error

`Requiring unknown module "RCTDeviceEventEmitter".If you are sure the module is there, try restarting the packager or running "npm install".`

and I found that in CordovaPluginAdapter.js

`var RCTDeviceEventEmitter = require('RCTDeviceEventEmitter');`

if I replace it with `import { DeviceEventEmitter } fr

[2016-04-26 16:53] axemclion commented on #24
@MichelKansou I tested this on react-native 0.22, looks like these are changes in 0.24. I will look into them.

[2016-04-27 01:28] axemclion commented on #24
@MichelKansou What is the plugin that you are using ? I am working on fixing the `DeviceEmitter` issue, but looks like the document part could be due to the plugin. If you tell me the name of the plugin, I could take a look.

[2016-04-27 03:31] axemclion commented on #24
@MichelKansou I released a 1.0.1 version of the package, that fixes the deviceEmitter issue.

[2016-04-27 06:29] MichelKansou commented on #24
@axemclion Sorry for the late answer, thank you I will test it and I'm using cordova-plugin-device if everything work fine I want to use phonegap-nfc tell me if you know a better plugin for NFC would be nice.

[2016-04-27 12:21] MichelKansou commented on #24
@axemclion After testing with cordova-plugin-device it work but when I install phonegap-nfc it give an error saying `document is not defined` in cordova.js

[2016-04-27 12:36] MichelKansou commented on #24
it's coming from `react-native-cordova-plugin/platforms/android/assets/www/cordova.js`

[2016-04-27 16:10] axemclion commented on #24
@MichelKansou That `react-native-cordova-plugin/platforms/android/assets/www/cordova.js` is actually generated from  the files in the plugin itself. Looks like the offending statement is due to the use of [document.addeventListener](https://github.com/chariotsolutions/phonegap-nfc/blob/master/www/phonegap-nfc.js#L30)
In ReactNative, you don't really have a `document` object. One way to fix it woul

[2016-04-28 08:01] MichelKansou commented on #24
@axemclion Thank you, I didn't find a way to make it work with react-native, I will try to make a native module for NFC

[2016-04-28 15:30] #24 closed, assigned to nobody

[2016-05-03 21:17] c-h- opened #26 "Including Framework dependencies"
I had to include a dependency in the build.gradle file at `framework/android/build.gradle` like so to get push notification support working.

`compile 'com.google.android.gms:play-services-gcm:8.4.0'`

The issue I was having was that compilation was failing because a plugin I'm using adds the following line in AndroidManifest.xml in manifest/application:

[code]

Do you know of a better way to do

[2016-05-03 21:25] axemclion commented on #26
@c-h- Is there a link to the plugin you are using ? If this works with Cordova, it should technically work with ReactNative too, unless there is a bug.

In case of this adapter, we have an additional AndroidManifest.xml that is merged with the project's manifest.

[2016-05-03 22:28] c-h- commented on #26
Yea the plugin is here: https://github.com/UpChannel/pushwoosh-phonegap-plugin

The XML is in plugin.xml: https://github.com/UpChannel/pushwoosh-phonegap-plugin/blob/master/plugin.xml

I'm not sure if it's a bug or not, but without modifying the build.gradle of react-native-cordova-plugin, compilation would fail saying that `@integer/google_play_services_version` was not available. Including the l

[2016-05-03 23:35] axemclion commented on #26
@c-h- I was able to reproduce the error. Looks like the `framework` element in the plugin.xml is not getting  picked up.

Here is how Cordova is supposed to deal with it - https://github.com/apache/cordova-lib/blob/9f630271d9c02824c0031ea4cdc0e4955b53d9e2/cordova-lib/src/plugman/platforms/android.js#L117

[2016-05-04 00:56] axemclion commented on #26
More analysis, and looks like this is something that Cordova does. For each of those dependencies, it has a `project.properties`. These are then moved to the appropriate gradle files using [a prepBuild](https://github.com/apache/cordova-android/blob/master/bin/templates/cordova/lib/builders/GradleBuilder.js#L67) step.

I would need to implement this, for the plugin to be supported.

[2016-05-04 05:10] axemclion commented on #26
This almost works, except for [this issue](https://github.com/Pushwoosh/pushwoosh-phonegap-plugin/issues/176).

Once the plugin fixes the issue - i.e. removes the custom gradle file, you should be able to use it. To test for now, you could look for `node_modules/react-native-cordova-plugin/platforms/android/pushwoosh-cordova-plugin/*.gradle` and make that an empty file. Once the pushwoosh bug is f

[2016-05-04 19:30] c-h- commented on #26
Awesome!! Thanks for all the support. I'll comment back with my results.

[2016-05-06 03:25] c-h- commented on #26
@axemclion Installing straight from github URL so I can use the framework support you added in your last commit, I could not get a project to build. I should mention that this test was _not_ in a fresh React Native project, it was in a pretty complex project. But the only change I made was uninstalling the npm version of this package and then installing via git url.

This is the error I was gettin

[2016-05-06 16:05] axemclion commented on #26
This could be due to the fact that I not not cleaning the older version. The issue here was possibly that the frameworks were already present from the previous build.

Could you delete the `node_modules/react-native-cordova-plugin/platforms` directory and then add your git URL ? will that work ?

[2016-05-08 01:06] axemclion commented on #26
Closing this issue since there is no more work for this specific issue.
If there is an issue with deleting and adding a plugin again, we should open another issue.

[2016-05-08 01:06] #26 closed, assigned to nobody

[2016-05-09 11:55] liiklin opened #28 "cordova-plugin-pingpp"
hi ,
i use this cordova plugin , but it does not work.
[https://github.com/TongChia/cordova-plugin-pingpp](https://github.com/TongChia/cordova-plugin-pingpp)

[2016-05-09 15:52] axemclion commented on #28
Can you add details about the error ?

[2016-05-10 07:31] yorzi opened #29 "cordovaplugin:processReleaseResources FAILED while running `react-native run-android`"
Could you give me some hint on below issue? I am using latest ReactNative and add cordava-plugin according to the guide in readme. Thanks.

[code]

[2016-05-10 11:10] liiklin commented on #28
There is no error, just can not find the object of the plugin exposed.just link `Cordova.navigator.camera` or `Cordova.Camera`.

[2016-05-10 15:26] axemclion commented on #29
@yorzi What plugin are you using this with ? This looks like a an error similar to #26, but that should be resolved.

[2016-05-10 15:27] axemclion commented on #28
Do you have a sample project ? I would need some more error details to help debug this issue.

[2016-05-11 03:04] yorzi commented on #29
@axemclion I did try to follow #26 's instruction, but failed to resolve my problem. I am going to use a plugin called [cordova-plugin-connectsdk](http://www.svlconnectsdk.com/docs/1-6-0/cordova/setup-instructions/). I also tried `cordova-plugin-contacts` and it did work gracefully. Thanks for your reply.

[2016-05-11 03:37] yorzi commented on #29
Actually, when I add `compile 'com.google.android.gms:play-services-gcm:8.4.0'` to the `framework/android/build.gradle` file as described in #26 , I can pass the issue, but I encountered new problems like below:

[code]

I am not sure if it's something wrong with connectsdk plugin or it's something wrong caused by my modification on `react-native-cordova-plugin`, I am new to android dev..

Really

[2016-05-11 04:39] axemclion commented on #29
@yorzi Looks like there is a bug in this project in [this line](https://github.com/axemclion/react-native-cordova-plugin/blob/76d08110e9cead0b4e9cfb979566d3d3c41a7322/cli/android-cli.js#L117) when trying to add the plugin that you mention. I will have to use Cordova's [GradleBuilder](https://github.com/apache/cordova-android/blob/ef268e23206f3378d5c8c5dd279d2821830766b2/bin/templates/cordova/lib/b

[2016-05-11 07:52] yorzi commented on #29
@axemclion I fixed the compilation issue by adding below lines to `framework/android/build.gradle`

[code]

However, I am not able to do `import cordova from 'react-native-cordova-plugin';` in my index.android.js file, and it throws `ConnectSDK is not defined` which I guess is not loaded correctly from the plugin adapter. Do you know why it happens like this? Thanks in advance!

<img width="345" a

[2016-05-11 16:00] axemclion commented on #29
Will look at this over the weekend.

[2016-05-12 20:21] benedyktdryl opened #31 "[question][need help] module cordova/plugin_list not found"
I'm doing everything like you described it in readme. After all I'm getting error described in title:

`module cordova/plugin_list not found`

Can you point me if I'm doing something wrong?
I'm using:
- latest OSX
- latest package version you provided
- this project as starter, with no changes at all: https://github.com/jhabdas/react-native-webpack-starter-kit
- also I'm using NPM 3.8.6 with Node

[2016-05-13 07:57] yorzi commented on #29
@axemclion Thanks, hope connectSDK plugin can work well with this adapter as expected.

[2016-05-15 14:31] yorzi commented on #29
Hi @axemclion any luck to find anything related to this issue? Thanks!!

[2016-05-16 16:51] axemclion commented on #31
@cypherq Can you also share your project somewhere? Maybe easier to start building from there. I see that the starter project in the link above does not include the plugin. How are you including the plugin ?

[2016-05-16 17:02] axemclion commented on #29
@yorzi Can you try running `node_modules/.bin/cordova-plugin repair` to generate the cordova.js file ? That should have the SDK, if it is in `node_modules/react-native-cordova-plugin/platforms/android/assets/www/cordova_plugin.js`

[2016-05-17 17:34] c-h- opened #32 "Colliding Permissions That Depend on Package Name"
Some plugins add permissions that depend on package names. One is [Pushwoosh Push Notification Plugin](https://github.com/UpChannel/pushwoosh-phonegap-plugin).

Example permission:

[code]

As I understand it, the activity `io.cordova.reactnative.cordovaplugin` is the one actually registering these plugin permissions.

The problem is when multiple apps are installed that use this package to add Re

[2016-05-17 20:16] c-h- commented on #32
My solution so far is to manually update the C2D permissions in:
- platforms/android/AndroidManifest.xml
- platforms/android/android.json

To get the correct package ID set.

[2016-06-15 15:38] geirman commented on #23
I'm also not an iOS developer, so I'm useless in helping to bring iOS support. However, I would guess that being able to support iOS would greatly improve the adoption of this plugin. I personally wouldn't invest the time to use it knowing that it's only useful for Android. Very few projects target just one platform. In fact, I'd purport that the primary reason most people choose react-native is b

[2016-06-15 15:43] axemclion commented on #23
@geirman I do agree that we do need an iOS version of this. I am just waiting for someone to help. In the meantime, I have started learning ObjectiveC - it may be a while before I can get to the iOS version.

[2016-07-04 21:07] axemclion commented on #31
This question has been around for a while, and I was not able to reproduce it. Closing this now. Please re-open if you are still having trouble.

[2016-07-04 21:07] #31 closed, assigned to nobody

[2016-07-04 21:08] axemclion commented on #29
Thanks for the bug; Closing this as I am not able to reproduce it. Please re-open if you still have this issue.

[2016-07-04 21:08] #29 closed, assigned to nobody

[2016-07-08 19:58] mint3000 opened #34 "[QUESTION] node_modules/.bin/cordova-plugin repair"
Hi, when I try running node_modules/.bin/cordova-plugin repair I get this error:

[code]

Any suggestions on how to get the cordova.js file? I've tried removing react-native-cordova-plugin and reinstalling it but I never get the 'platforms/android/assets/www/cordova.js' file.

[2016-07-08 20:36] mint3000 commented on #34
Nevermind, I was able to get this to work by running `node_modules/.bin/cordova-plugin add` and then running `node_modules/.bin/cordova-plugin repair` again.

Great plugin by the way!

[2016-07-08 20:36] #34 closed, assigned to nobody

[2016-07-08 20:54] mint3000 commented on #31
I ran into this issue as well, it happened after I ran `node_modules/.bin/cordova-plugin clean`, I tried running 'node_modules/.bin/cordova-plugin repair' but that produced this error:

[code]

So I ran `node_modules/.bin/cordova-plugin add cordova` which produces an error but it also re-creates the `platform` directory.

But to get assets/www/cordova.js and the plugin_list I had to re-add my plug

[2016-07-14 15:53] dotnetprofessional opened #35 "React-Native 0.29 breaking changes"
Currently this is preventing the use of the code with the latest bits.

[2016-07-14 17:32] axemclion commented on #35
@dotnetprofessional Thanks for reporting this. I will look at updating this plugin for that usecase.

[2016-07-14 18:55] dotnetprofessional commented on #35
Great! Not to put any pressure on you ;) But do you have any idea when you might get the chance to update it?

[2016-07-14 18:58] axemclion commented on #35
@dotnetprofessional It will probably be a while. I am currently working on web workers for ReactNative, that I am speaking about at conferences. I need to get those done before I work on this.

Would appreciate pull request if you have the time.

[2016-07-25 08:59] EmrysMyrddin commented on #23
Any news about the iOS support ?

[2016-07-31 21:31] mvayngrib commented on #23
+1

[2016-08-01 02:29] geirman commented on #23
@mvayngrib the accepted +1 convention these days is in the form of a 👍 reaction. Would be great if you tried to do that instead going forward :)

[2016-08-01 03:39] mvayngrib commented on #23
@geirman oof, i'm getting to be an old man. Done.

[2016-08-03 04:24] axemclion commented on #35
@dotnetprofessional I finally got a chance to look into this and looks like that is not the only breaking change. The bigger change is the introduction of `MainApplication` - this is where the native modules are initialized.

This is a problem since we would not really have an `Activity` when the native module is initialized. Cordova's interfaces require an activity, and are always based on that.

[2016-08-21 17:11] avishayhajbi commented on #35
+1

[2016-08-28 22:43] vthunder commented on #35
In case this helps anyone–

It's possible to use an older version of react-native by using the 'rninit' command:

[code]

Then you'll be able to use react-native-cordova-plugin as-is. You'll be stuck at that version of react-native until this issue is resolved, of course, with whatever quirks and bugs that entails.

Btw, downgrading react-native and running `react-native upgrade` (which prompts yo

[2016-09-07 03:32] sudharsan1988 commented on #35
+1

[2016-12-22 14:08] mtwallet commented on #35
@axemclion Have you had chance to look at a fix for this issue? Many thanks.

[2017-01-01 16:11] e-onux commented on #35
@axemclion Have you had a chance to look?

[2017-01-13 12:19] tomasz-nowak opened #36 "[QUESTION] NullPointerException"
Hey,
when I'm trying to run app with react-native-cordova-plugin, it builds properly,  but crashes instantly after run on tablet / emulator ("Unfortunately, <appname> has stopped.").
Android monitor in android studio throws that error:
`java.lang.RuntimeException: Unable to start activity ComponentInfo{com.appname/com.appname.MainActivity}: java.lang.NullPointerException: Attempt to invoke virtual

[2017-01-14 22:01] nda2221 commented on #35
@axemclion Any update, friend?

[2017-02-05 10:43] jlucfarias opened #37 "Compatibility"
I'm new in React Native and I would use this in my projects but I don't know if it is compatible with the newest version of React Native (0.41)

[2017-03-06 11:48] Bhumikathiriya opened #38 "Class not found error"
This is a great plugin.I used it to integrate cordova camera plugin. It is working as expected.

But now ,I tried to integrate cardio plugin fron below link:

https://github.com/vkeepe/card.io

But it returns "Class not Found" in error callback function.

Can you please help me?

[2017-03-14 14:26] recs182 commented on #37
I guess it doesn't because of it https://github.com/axemclion/react-native-cordova-plugin/issues/35. I also tried using it in a project and didn't work.

[2017-05-04 16:04] nicosefer commented on #35
any news?

[2017-05-04 16:19] nicosefer commented on #37
any news?

[2017-05-04 16:30] axemclion commented on #37
@nicsefer I have not had the time to work on this, but would accept pull requests.

[2017-05-04 16:31] axemclion commented on #35
@nicsefer I have not had the time to work on this, but would accept pull requests.

[2017-05-19 09:18] uuau99999 opened #39 "Can not integrate with cordova-plugin-camera"
My old project is based on cordova and now I want to use react native to implement it again. However react native did not implement the plugins I used to use in cordova and when I tried to add cordova camera plugin with react-native-cordova-plugin an error occured :

The development server returned response error code: 500

URL: http://10.0.2.2:8081/index.android.bundle?platform=android&dev=true&h

[2017-07-09 05:58] mribbons opened #40 "Building against current master commit fails, missing plugin-build.gradle"
Commit: 8942fb03bf8e60d50caa76ed79aa56c785f5799a

[code]
[code]

The issue seems to be caused by this line:
https://github.com/axemclion/react-native-cordova-plugin/blob/master/framework/android/build.gradle#L2

If I checkout the previous commit, the gradle task completes successfully.

What is the plugin-build.gradle file for? Can it be marked as optional

[2017-07-09 15:58] #40 closed, assigned to nobody

[2017-07-10 00:54] mribbons opened #42 "[QUESTION] cordova.js imports, RN 4.6"
Hi,
I have started work to get this module working with RN 4.6, see here:
https://github.com/mribbons/react-native-cordova-plugin/commit/2eebb79de6987845c47cc18acc0bf670e85a32c3

The Java side seems to initialise OK, I have got around null reference exceptions, the commit is self explanatory.

I am now having an issue with the cordova.js file:

[code]

I have checked the github link and it is unre

[2017-07-10 07:21] mribbons commented on #42
I have done a bit more investigation and playing with the platform/assets/www/cordova.js file.

It seems as though it expects cordova.define() to work with the global require(), but that isn't the case.

Something I don't understand is that inside cordova.define("cordova/utils") there is a call to require("cordova/utils"). This seems like a circular reference.

Were the modules require()'d in cord

[2017-07-20 18:17] theBliz commented on #42
how did you manage to import the package in react-native 0.46 ? The steps are for the 0.22, can you help out?

[2017-07-20 18:57] theBliz commented on #35
@axemclion @mribbons it seems that the pull request has some issues. The readme it's missing the MainApplication.java example and the CordovaPluginPackage.java is missing "set_MainActivity".
I don't know if something else is missing, I'll update this in case I find out more :) and thanks for the great work! :D

[2017-07-20 19:07] theBliz commented on #42
@mribbons thanks for the patch for RN 4.6 :) did you manage to understand this issue also?

[2017-07-20 21:03] mribbons commented on #42
Hi @theBliz, I couldn't get it to work. I have walked away from it for now.

[2017-07-20 21:08] mribbons commented on #35
@theBliz I haven't submitted a PR yet because the work is incomplete.

The changes are only in my repo:
https://github.com/mribbons/react-native-cordova-plugin

[2017-07-20 21:09] theBliz commented on #42
I've been able to import cordova-plugin-camera and now I'm having an issue with importing https://github.com/mattrayner/cordova-plugin-vuforia and some error related with cordova pops out Execution failed for task ':cordovaplugin:mergeReleaseResources'.

By any chance did you have something similar?

[2017-07-20 21:10] theBliz commented on #35
@mribbons got it :) so there are issues just in the ReadMe (broken links for the example)

[2017-07-20 21:40] mribbons commented on #42
@theBliz nope, I couldn't get any plugins to work. I added cordova-plugin-cipherlab-rs30 then removed it, then I got the issues with cordova.js, as above.

Is cordova-plugin-camera functional after importing?

[2017-07-20 21:43] theBliz commented on #42
I still have to try it on the device, but it's building.

This is the default class in my index.android.js

`export default class test001 extends Component {

  var Cordova = require('react-native-cordova-plugin');

  Cordova.navigator.camera.getPicture(onSuccess, onFail, {sourceType: Cordova.Camera.PictureSourceType.SAVEDPHOTOALBUM)});

  // Listen to cordova-plugin-network-information plugin's e

[2017-07-20 22:14] mribbons commented on #42
@theBliz Looks promising.

Let me know how it goes on device, make sure you wire up the camera function and test it out.

Full disclaimer, I don't have time to work on this now but I may come back to it.

I was going to use this plugin for cordova sql, but someone has already ported it to RN anyway. I think that will happen with other plugins as RN users need them. I'm not sure of the usage stats

[2017-07-28 19:10] nfabian13 commented on #23
I could help with the iOS version of this library but unfortunately i don't own a Mac right now :s

[2017-07-28 19:18] brody2consult commented on #23
Did you guys see the work at https://github.com/remobile/react-native-cordova? It seems to support both Android & iOS (MIT license).

[2017-07-29 08:03] geirman commented on #23
Good find @brodybits

[2017-08-23 11:21] XBLDev commented on #35
Hi any news about the update? I've tried hacking my way to get it to work with the latest RN but no luck, it seems I have to wait until the branches merge :-)

[2017-08-23 11:33] mribbons commented on #35
@XBLDev you might be better off contributing your efforts to converting whichever libs you need to RN, this one doesn't seem to be moving.

[2017-08-23 16:55] axemclion commented on #35
I am glad to take contributions to this library - send in a pull request, or even better, please help by becoming a contributor.

[2017-08-24 02:30] XBLDev commented on #35
Hi @axemclion  How exactly do I send in a pull request? I've never done it before :-(

[2017-08-24 02:37] mribbons commented on #35
HI @axemclion, care to have a look at my repo? I don't have the necessary knowledge to get it working.

https://github.com/axemclion/react-native-cordova-plugin/issues/42

[2017-08-24 02:39] mribbons commented on #35
@XBLDev after cloning the repo and committing changes, use the New Pull Request button. There should be plenty of information online and on github itself.

[2017-08-24 03:56] XBLDev commented on #35
Hi @mribbons I don't think I'm knowledgeable enough to make it working with the current RN either, I mean you seem to be pro at this and you can't even make it work, and i'm just a RN app developer, and unfortunately not a very good one :-)

[2017-08-24 06:28] chandrasekharb4 opened #43 "Issue"
Hi

Please help me

following is the issue I am getting

**UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 1256): UnableToResolveError: Unable to resolve module ./ContactError from /home/nyros/Desktop/santhi/CycleRide/node_modules/react-native-cordova-plugin/platforms/android/assets/www/cordova.js: Directory /home/nyros/Desktop/santhi/CycleRide/node_modules/react-nativ

[2017-09-15 08:38] salmon-charles commented on #42
For me to work I had to replace all the require("xxx") by cordova.require("...")
(I kept the require(varName) as it)

[2017-11-26 16:24] rajesh-tcs opened #44 "[QUESTION] 'node_modules' is not recognized as an internal or external command"
Hi,

Step 1 and 2 is successful integrated but i am facing issue in step 3.

$ node_modules/.bin/cordova-plugin add cordova-plugin-camera cordova-plugin-contacts

While executing above command i am getting below error

Error: 'node_modules' is not recognized as an internal or external command,operable program or batch file.

Please help me on this issue

[2017-11-27 05:27] axemclion commented on #44
This plugin works only with older verson of react-native.

[2017-11-27 09:42] rajesh-tcs commented on #44
could you please help me how to add cordova-plugin in reactJS???
@axemclion

[2018-03-24 17:14] Assem-Hafez opened #45 "installation on react-native 0.54.0"
I am trying to install the library in my project but i found that the react-native MainActivity is different from what i see in the example. Here is the code:
**MainActivity**

[code]
**MainApplication**
[code]
can you please guide me on how to pass the activity in the MainApplication to this line

` cordovaPluginPackage = new CordovaPluginPackage(this)`

and how to access the value assigned to co

[2018-05-20 01:01] kyungjoongo commented on #45
Same issue , not work in react-native 0.55+

[2018-11-14 22:16] mateuszmatyszkowicz commented on #45
Same too,

[2018-11-14 22:17] mateuszmatyszkowicz commented on #45
Same too..., @Assem-Hafez , @kyungjoongo  did you manage to inject cordova plugin into react native app??

[2018-11-14 23:44] mateuszmatyszkowicz commented on #45
@mribbons I seen that you had been worked on your fork, maybe you could help us?

[2018-11-15 00:14] mribbons commented on #45
From memory I didn't have much luck with this plugin. Transpiling of the cordova plugin's js files wouldn't work.

I suggest you locate RN ports of the cordova packages you need, or write them yourself.

[2018-11-15 00:16] mribbons commented on #45
https://github.com/axemclion/react-native-cordova-plugin/issues/42

[2018-11-15 08:14] mateuszmatyszkowicz commented on #45
@mribbons so I probably also abandon this idea. I have got one more question to you, did you know any other libraries to react native which have good barcode scan performance? I didn't manage to scan AZTEC code using `react-native-camera` and then I found https://github.com/dex4er/phonegap-plugin-barcodescanner so I wanted to used it with `react-native-cordova-plugin` but as appear we can''t do it

[2018-11-15 08:49] mribbons commented on #45
@mateuszmatyszkowicz zxing is one I have heard a lot of but never tried (I have only worked with built in (hardware) scanners for android).

Google "zxing react native", there's a few options to look at.